@use './fonts';

/*------------------------------------------------
  VARIABLES
------------------------------------------------*/
$black: #4d4a52;
$dark-gray: #9f9ca3;
$light-gray: #e4e4e4;
$white: #ffffff;

$border-radius: 4px;

$section-margin: 40px;

/*------------------------------------------------
  GENERAL
------------------------------------------------*/
html {
  font-size: 62.5%;

  * {
    font-size: 1.8rem;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Segoe UI', Verdana, sans-serif;
    color: $black;
  }
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.center-column {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 620px;
}

/*------------------------------------------------
  MENU
------------------------------------------------*/
.menu-desktop {
  padding: 20px 0;
  display: none;
  justify-content: space-between;
  align-items: center;

  a {
    font-weight: bold;

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  a.icon {
    font-size: 2rem;
  }
}

.menu-bar-replace {
  display: none;
  height: 60px;

  &.active {
    display: block;
  }
}

.menu-mobile {
  &.active {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;

    .bar {
      padding: 20px;
    }
  }

  .bar {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20px;
    background-color: white;

    button {
      background-color: transparent;
      border: none;
      width: 40px;
      height: 40px;
      border-radius: $border-radius;
      font-size: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        display: none;

        &.active {
          display: block;
        }
      }

      &:hover {
        background-color: $light-gray;
      }
    }
  }

  .menu {
    text-align: center;
    padding-bottom: 30px;
    width: 100%;
    display: none;
    position: absolute;

    &.active {
      display: block;
      background-color: $white;
    }

    a {
      font-size: 2.4rem;
      font-weight: bold;
    }

    .top {
      margin-bottom: 40px;

      a {
        display: block;
        margin-bottom: 20px;
      }
    }

    .bottom {
      display: flex;
      justify-content: center;

      a:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }
}

/*------------------------------------------------
  HEADER
------------------------------------------------*/
header {
  text-align: center;

  .image-container {
    width: 150px;
    height: 150px;
    background-color: $light-gray;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  p {
    font-size: 2rem;
    color: $dark-gray;
    line-height: 2.6rem;
  }
}

/*------------------------------------------------
  SECTION
------------------------------------------------*/
section {
  margin-top: $section-margin;

  .content {
    margin-top: 10px;

    p {
      line-height: 140%;
    }

    p:not(:first-of-type) {
      margin-top: 20px;
    }

    .separator {
      text-align: center;
      color: $dark-gray;
      line-height: 1px;
    }
  }
}

/*------------------------------------------------
  SECTION: ABOUT
------------------------------------------------*/
.section-about {
  margin-top: 20px;
}

/*------------------------------------------------
  SECTION: SKILLS
------------------------------------------------*/
.lang-level-list {
  margin-top: 10px;
}

.lang-level {
  &:not(:first-of-type) {
    margin-top: 15px;
  }

  div {
    background-color: $black;
    padding: 2px 6px;
    color: $white;
    border-radius: 0 20px 20px 0;

    &.native {
      width: 100%;
    }

    &.intermediate {
      width: 60%;
    }
  }

  p {
    color: $dark-gray;
  }
}

.skillset-list {
  margin-top: 40px;
}

.skillset {
  margin-top: 20px;

  .title {
    font-weight: bold;
    color: $dark-gray;
  }

  .skill-list {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
  }

  .skill {
    padding: 2px 6px;
    margin-right: 5px;
    margin-top: 5px;
    color: $white;
    background-color: $black;
    border-radius: $border-radius;
    display: inline-block;
  }
}

/*------------------------------------------------
  SECTION: RESUME
------------------------------------------------*/
.section-resume {
  .work-entry-container {
    .date-range-desktop {
      display: none;
    }

    .date-range-mobile,
    .date-range-desktop {
      margin-top: 0px;
      color: $dark-gray;

      span {
        color: $dark-gray;
        font-weight: bold;
      }
    }

    .work-entry {
      margin-top: 20px;
      padding-left: 10px;
      border-left: 4px solid $light-gray;

      .title {
        font-weight: bold;
      }

      .description {
        margin-top: 10px;
      }
    }
  }
}

/*------------------------------------------------
  SECTION: PROJECTS
------------------------------------------------*/
.section-projects {
  display: block;

  .project-card-container {
    margin-top: 10px;
    width: 100%;

    .date-range-desktop {
      display: none;
    }

    .date-range-mobile,
    .date-range-desktop {
      text-align: center;
      color: $dark-gray;

      span {
        color: $dark-gray;
        font-weight: bold;
      }
    }

    .project-card {
      width: 100%;
      border: 2px solid $light-gray;
      padding: 20px;
      border-radius: $border-radius;
    }

    .image-container {
      height: 150px;
      border-radius: $border-radius;
      overflow: hidden;

      img {
        max-width: 100%;
        min-height: 100%;
      }
    }

    .project-title {
      font-size: 2.4rem;
      font-weight: bold;
      display: flex;
      align-items: center;

      a {
        margin-left: 10px;
      }

      * {
        font-size: 2rem;
        color: $dark-gray;
      }
    }

    .description {
      margin-top: 10px;

      a {
        text-decoration: underline;
      }
    }

    .skillset {
      margin-top: 10px;
    }
  }

  & > article:not(:first-of-type) {
    margin-top: 20px;
  }
}

/*------------------------------------------------
  SECTION: CONTACT
------------------------------------------------*/
.section-contact-container {
  margin-top: $section-margin * 2;
  padding: $section-margin 0;
  width: 100%;
  background-color: $light-gray;
}

.section-contact {
  margin-top: 0px;

  form {
    background-color: white;
    border-radius: $border-radius;
    margin-top: 20px;

    input,
    textarea {
      padding: 15px 20px;
      border: none;
      background-color: transparent;
      min-width: 100%;
      max-width: 100%;
    }

    input {
      border-bottom: 2px solid $light-gray;
    }

    textarea {
      height: 200px;
    }

    button {
      border: none;
      border-radius: 0 0 $border-radius $border-radius;
      background-color: $black;
      color: $white;
      width: 100%;
      padding: 15px 20px;
    }
  }
}

/*------------------------------------------------
  SECTION: CONTACT
------------------------------------------------*/
footer {
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: $dark-gray;

  * {
    color: $light-gray;
  }
}

/*------------------------------------------------
  MEDIA QUERIES
------------------------------------------------*/
@media screen and (min-width: 550px) {
  // GENERAL
  h1 {
    font-size: 4rem;
  }

  h2,
  h3 {
    font-size: 3.2rem;
  }

  // MENU
  .menu-desktop {
    display: flex;
    justify-content: space-between;
  }

  .menu-mobile {
    display: none;
  }

  // HEADER
  header {
    margin-top: 20px;

    .image-container {
      height: 200px;
      width: 200px;
    }

    p {
      font-size: 2.8rem;
    }
  }

  // SECTION: ABOUT
  .section-about {
    margin-top: 30px;
  }

  // SECTION: SKILLS
  .lang-level {
    div {
      padding: 5px;
    }
  }

  .skillset {
    .skill {
      padding: 5px 10px;
    }
  }

  // SECTION: PROJECTS
  .section-projects {
    .project-card-container {
      .project-title {
        font-size: 3.2rem;

        * {
          font-size: 2.4rem;
        }
      }
    }
  }

  // SECTION: CONTACT
  .section-contact-container {
    padding: $section-margin 0;

    form {
      margin-top: 0px;
    }
  }
}

@media screen and (min-width: 660px) {
  .center-column {
    padding: 0px;
  }

  // SECTION
  section {
    display: flex;
    align-items: flex-start;

    h2 {
      flex-grow: 1;
    }

    .content {
      margin-top: 0px;
      max-width: 480px;
    }
  }

  // SECTION: ABOUT
  .section-about {
    margin-top: 50px;
  }

  // SECTION: SKILLS
  .section-skills {
    .lang-level {
      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }
  }

  // SECTION: RESUME
  .section-resume {
    display: block;

    h2 {
      display: block;
    }

    .work-entry-container {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .date-range-mobile {
        display: none;
      }

      .date-range-desktop {
        display: block;
        border-left: 4px solid $light-gray;
        padding-left: 5px;
        min-width: 120px;

        span {
          font-weight: bold;
        }
      }

      .work-entry {
        border: none;
        padding: 0px;
        margin-top: 0px;
      }
    }
  }

  // SECTION: PROJECTS
  .section-projects {
    .project-card-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 20px;

      .date-range-desktop {
        text-align: left;
        min-width: 120px;
        border-left: 4px solid $light-gray;
        padding-left: 5px;
        display: block;
      }

      .date-range-mobile {
        display: none;
      }

      .image-container {
        height: 200px;

        img {
          height: auto;
        }
      }

      .project-title {
        font-size: 3.2rem;
      }

      .skillset {
        margin-top: 20px;
      }
    }

    & > article:not(:first-of-type) {
      margin-top: 40px;
    }
  }
}
