@use './fonts';

/*------------------------------------------------
  VARIABLES
------------------------------------------------*/
$black: #4d4a52;
$dark-gray: #9f9ca3;
$light-gray: #e4e4e4;
$white: #ffffff;
