<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luis Velásquez | Portfolio</title>

    {{#if (equal appEnv 'production')}}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <!-- prettier-ignore -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-5FTENCJ5TH"></script>
      <script>
        window.dataLayer = window.dataLayer || []
        function gtag() {
          dataLayer.push(arguments)
        }
        gtag('js', new Date())

        gtag('config', 'G-5FTENCJ5TH')
      </script>
    {{/if}}

  </head>
  <body>
    <div class="center-column">
      <!-- Menu Desktop -->
      <nav class="menu-desktop">
        <div class="left">
          <a href="#about">About</a>
          <a href="#skills">Skills</a>
          <a href="#resume">Resume</a>
          <a href="#projects">Projects</a>
        </div>
        <div class="right">
          <a href="#contact">Contact</a>
          <a href="https://github.com/luvejo" class="icon" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
          <a href="https://www.linkedin.com/in/luisfelipevelasquez/" class="icon" target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://dev.to/luvejo" class="icon" target="_blank"
            ><i class="fab fa-dev"></i
          ></a>
        </div>
      </nav>

      <!--
        This takes the place of .menu-mobile when its "display"
        property is set to "fixed". It prevents the rest of the
        elements from moving upwards.
      -->
      <div class="menu-bar-replace"></div>

      <!-- Menu Mobile -->
      <div class="menu-mobile">
        <div class="bar">
          <button id="burger">
            <!-- These are transformed into SVG-->
            <i class="fas fa-bars active"></i>
            <i class="fas fa-times"></i>
          </button>
        </div>

        <nav class="menu">
          <div class="top">
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#resume">Resume</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
          </div>
          <div class="bottom">
            <a href="https://github.com/luvejo" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a href="tg://resolve?domain=luvejo" target="_blank"
              ><i class="fab fa-telegram-plane"></i
            ></a>
            <a href="https://dev.to/luvejo" target="_blank"
              ><i class="fab fa-dev"></i
            ></a>
          </div>
        </nav>
      </div>

      <!-- Header -->
      <header>
        <div class="image-container">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/luvejo-me.appspot.com/o/avatar.jpg?alt=media"
            alt=" Profile picture"
          />
        </div>

        <h1>Hi, I'm Luis</h1>
        <p>Frontend Dev</p>
      </header>

      <!-- Section: About -->
      <section class="section-about" id="about">
        <h2>About</h2>
        <div class="content">
          <p>
            Frontend web developer and TDD apprentice. I'm always exploring new web
            technologies, architectures and methodologies. Some times I share those
            practices on GitHub, or write about them on DEV.
          </p>

          <p class="separator">* * *</p>

          <p>
            In 2020, reading Peter Singer’s <i>The Most Good You Can Do</i>, I
            discove&shy;red the Effective Altruism movement: people who redi&shy;rect part
            of their income to significantly support highly-effective social
            initiatives.
          </p>

          <p>
            Software development is my way to become one.
          </p>
        </div>
      </section>

      <!-- Section: Skills -->
      <section class="section-skills" id="skills">
        <h2>Skills</h2>

        <div class="content">
          <div class="lang-level-list">
            <div class="lang-level">
              <div class="native">Spanish</div>
              <p>(Native occasional reader and diarist).</p>
            </div>

            <div class="lang-level">
              <div class="intermediate">English</div>
              <p>
                (I use to read non-fiction out loud; and I listen to podcasts while
                cooking).
              </p>
            </div>
          </div>

          <div class="skillset-list">
            <div class="skillset">
              <p class="title">Frontend</p>

              <div class="skill-list">
                <div class="skill">JavaScript</div>
                <div class="skill">HTML</div>
                <div class="skill">CSS</div>
                <div class="skill">Vuex</div>
                <div class="skill">Jest</div>
                <div class="skill">Vue Test Utils</div>
                <div class="skill">Nuxt</div>
                <div class="skill">Sass</div>
              </div>
            </div>

            <div class="skillset">
              <p class="title">Other</p>

              <div class="skill-list">
                <div class="skill">Git</div>
                <div class="skill">CodeStream</div>
                <div class="skill">Docker</div>
                <div class="skill">Google Cloud Build</div>
                <div class="skill">Google Cloud Run</div>
                <div class="skill">Figma</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Section: Resume -->
      <section class="section-resume" id="resume">
        <h2>Resume</h2>

        <article class="work-entry-container">
          <p class="date-range-desktop">
            Jun, <span>2017</span>
            <br />
            Jul, <span>2018</span>
          </p>

          <div class="content work-entry">
            <p class="title">TecnoParque SENA (Caldas)</p>
            <p class="date-range-mobile">
              Jun, <span>2017</span> - Jul, <span>2018</span>
            </p>
            <div class="description">
              <p>
                Volunteer fullstack developer. I was responsible for the
                development of a carbon footprint calculator for the coffee
                production system. It required me to work in close collaboration
                with agronomy and industrial engineering specialists.
              </p>
              <p>
                I worked with technologies like Vue.js, Django, Ansible and Vagrant.
              </p>
            </div>
          </div>
        </article>
      </section>

      <!-- Section: Projects -->
      <section class="section-projects" id="projects">
        <h2>Projects</h2>

        {{#each projects}}
          {{> partials/project-card }}
        {{/each}}
      </section>
      <!-- .center-column -->
    </div>

    <div class="section-contact-container" id="contact">
      <div class="center-column">
        <section class="section-contact">
          <!-- Section: Contact -->
          <h2>Contact</h2>

          <div class="content">
            <form
              action="https://formkeep.com/f/a87e4a7e5f84"
              accept-charset="UTF-8"
              enctype="multipart/form-data"
              method="POST"
            >
              <input name="name" type="text" placeholder="Name" />
              <input name="email" type="text" placeholder="Email" />
              <textarea name="subject" placeholder="Message"></textarea>
              <button type="submit">Send</button>
            </form>
          </div>
        </section>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="center-column">
        Thanks for passing by! 👋
      </div>
    </footer>
  </body>
</html>
